services:
  db:
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: VpsDeGrosRaciste77
      MARIADB_DATABASE: trading_journal
    ports:
      - "3306:3307"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data: