# Database
DATABASE_URL="dbu3224501:jisgIk-1mocbu-giftob@db5018747159.hosting-data.io:3306/dbs14826903"

# JWT Secret (generate with: openssl rand -base64 32)
JWT_SECRET="bfjdkghskjghdhfjkhdjfksdhfgjdsk"

# App URL
APP_URL="http://localhost:3000"

# Upload directory (relative to project root)
UPLOAD_DIR="public/uploads"

# Backup directory (relative to project root)
BACKUP_DIR="backups"

